{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imagenes/Icono/the-forest.icon.png' %}" />
    <title>Animales - The Forest Wiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Enemigos.css' %}" />
</head>

<body id="fondo">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'menuprincipal' %}" id="fuente">The Forest Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'menuprincipal' %}">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'foro' %}">Foro</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'historia' %}">Historia</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logros' %}">Logros</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'direccion' %}">Dirección</a></li>
      
            {% if request.session.usuario_id %}
              <li class="nav-item">
                <a class="nav-link text-warning" href="{% url 'micuenta' %}">Mi Cuenta ({{ request.session.usuario_nombre }})</a>
              </li>
              {% if request.session.usuario_rol == 'Administrador' %}
                <li class="nav-item">
                  <a class="nav-link text-info" href="{% url 'admin_visual' %}">Admin</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
              </li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'registrarse' %}">Registrarse</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'iniciar_sesion' %}">Iniciar sesión</a></li>
            {% endif %}
          </ul>
          <form class="d-flex" id="separar-derecha">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>

    <section class="colorl">
        <div class="letra">
            <div class="container">
                <div class="center-titulo">
                    <h1 id="titulo">Animales</h1>
                </div>
                <div class="container">
                    <div class="w-33">
                        <div class="center">
                            <button class="btn btn-dark">
                                Editar
                            </button>
                        </div>
                    </div>
                    <div class="center">
                        <p id="caja_bienvenida">
                            La península de The Forest está poblada de muchos tipos diferentes de animales.
                            Estos animales se convierten en una parte esencial de la supervivencia del jugador,
                            ya que algunos de ellos pueden ser explotados para obtener comida, piel u otros materiales de artesanía.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-block d-sm-block d-md-none">
                    <h5 class="center margin-tabla">Orden de datos:</h5>
                    <p class="center">
                        1er bloque = Animal<br>
                        2do bloque = Hostilidad animal<br>
                        3er bloque = Descripción
                    </p>
                </div>

                <div class="margin-tabla">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-sm-4 border border-secondary fondo-tabla center">
                            <h5>Animal</h5>
                        </div>
                        <div class="d-none d-sm-none d-md-block col-sm-4 border border-secondary fondo-tabla center">
                            <h5>Hostilidad animal</h5>
                        </div>
                        <div class="d-none d-sm-none d-md-block col-sm-4 border border-secondary fondo-tabla center">
                            <h5>Descripción</h5>
                        </div>
                    </div>
                    <div class="letra">
                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/1.png' %}" alt="" class="imagen img-fluid"><br>
                                    Murciélago
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Realmente no se puede interactuar con ellos y solo sirven para propósitos de inmersión.
                                    Es posible matar murciélagos golpeándolos con el arma que elijas, pero no dejan caer nada.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/2.png' %}" alt="" class="imagen img-fluid"><br>
                                    Aves
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Las aves se encuentran en casi todos los lugares sobre el suelo.
                                    Proporcionan plumas, cruciales para fabricar flechas, y carne pequeña o cabezas de animales como la gaviota.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/3.png' %}" alt="" class="imagen img-fluid"><br>
                                    Ciervo
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Al matar un ciervo se puede obtener su piel, carne y cabeza.
                                    Se encuentran en bosques y praderas como las Tierras Fértiles.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/4.png' %}" alt="" class="imagen img-fluid"><br>
                                    Peces
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Se encuentran en océanos, ríos, estanques y cuevas. 
                                    Al matarlos, se obtiene pescado crudo que se puede cocinar o secar.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/5.png' %}" alt="" class="imagen img-fluid"><br>
                                    Gansos
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Aves que se posan en el agua, localizadas especialmente en el Lago de los Gansos.
                                    Son fuente de carne y plumas.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/6.png' %}" alt="" class="imagen img-fluid"><br>
                                    Lagarto
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Se encuentran en toda la península excepto costas y nieve profunda.
                                    Al matarlos, se obtiene piel, carne y cabeza decorativa.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/8.png' %}" alt="" class="imagen img-fluid"><br>
                                    Conejo
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Suelta piel, carne y cabeza. La carne puede cocinarse o secarse.
                                    Son abundantes y fáciles de cazar.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center separar-arriba">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/9.png' %}" alt="" class="imagen img-fluid"><br>
                                    Mapache
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Animal poco común. Suelta carne, piel y cabeza.
                                    Solo puede matarse con dos golpes, a diferencia de otros animales pequeños.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/10.png' %}" alt="" class="imagen img-fluid"><br>
                                    Gaviota
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Proveen plumas y carne pequeña.
                                    Se encuentran en playas y zonas abiertas.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/11.png' %}" alt="" class="imagen img-fluid"><br>
                                    Ardilla
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Dan carne pequeña y cabeza. Pueden ser eliminadas con un solo golpe de cualquier arma.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/12.png' %}" alt="" class="imagen img-fluid"><br>
                                    Tortuga de tierra
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Aparecen en áreas pantanosas. Al morir, sueltan caparazón y 2 piezas de carne.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/13.png' %}" alt="" class="imagen img-fluid"><br>
                                    Tortuga de mar
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Pasivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Al morir sueltan caparazón y carne. El caparazón sirve para colector de agua o trineo.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/Boar.webp' %}" alt="" class="imagen img-fluid"><br>
                                    Jabalí
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Agresivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Animal agresivo que ataca al jugador. Al morir suelta piel y carne. Inflige daño al cargar.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/Shark.webp' %}" alt="" class="imagen img-fluid"><br>
                                    Tiburón
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Agresivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Se encuentran en el océano. Atacan si el jugador se acerca demasiado. Sueltan carne y cabeza.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="centrart">
                                    <img src="{% static 'imagenes/Animales/Crocodile.webp' %}" alt="" class="imagen img-fluid"><br>
                                    Cocodrilo
                                </p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p class="center-titulo tamannioletrat">Agresivo</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>
                                    Se encuentran cerca del río en la zona norte. Sueltan piel, carne y cabeza decorativa al morir.
                                </p>
                            </div>
                        </div>
                    </div> <!-- cierre tabla -->
                </div>
            </div>
        </div>
    </section>
        <!-- Footer -->
        <footer id="piedepag">
            <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
            <p>Copyright 2022 Wiki 
                <span style="color: #ffc400;">THE FOREST WIKI</span>
            </p>
        </footer>
    
        <!-- Scripts de Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
        </script>
    
    </body>
    </html>